<div class="form-container">
    <a routerLink="/login" id="goback">Go back</a>

    <h2>Join now</h2>

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

        <input nbInput type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
        <input nbInput type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>


        <button nbButton type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
    </form>
</div>