<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <a class="navbar-brand font-weight-bold">Customers</a>
</nav>

<div
  class="d-flex justify-content-between"
  [style.height]="screenHeight - 56 + 'px'"
>
  <section class="flex-grow-1 p-4 h-100">
    <app-customer-item
      @fade
      (deleteCustomer)="removeCustomer($event)"
      [customer]="item"
      *ngFor="let item of customerList"
    ></app-customer-item>
  </section>

  <aside>
    <app-customer-form
      (updateCustomer)="updateOrCreateCustomer($event)"
      (addCustomer)="customerList.unshift($event)"
      [id]="id"
      style="width: 300px;"
    ></app-customer-form>
  </aside>
</div>
