@import "../../resources/variable";
:host {
  display: block;
  min-height: 100vh;
}

aside {
  background-color: $lightSilver;

  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.16);
}
section {
    overflow-y: auto;
}

nav {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.bg-primary {
  background-color: $primary !important;
}