@import "../../resources/variable";

:host {
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.16);
  height: 117px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 1em;
}

.avatar__wrapper {
  width: 123px;
  height: 100px;

  img {
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28px;
  color: $darkSilver;

  h5 {
    font-size: 20px;
    margin-bottom: 4px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}

.action__wrapper {
  position: absolute;
  bottom: 16px;
  right: 24px;

  a {
    margin-left: 8px;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary;
    border-radius: 4px;
    color: $secondary;
    transition: .3s all;
    cursor: pointer;

    &:hover {
      background-color: $darkSilver;
      color: $lightSilver;
    }

    &.edit {
      i {
        transform: translateX(1px);
      }
    }
  }
}
