<div class="avatar__wrapper">
  <img [src]="customer.avatar || defaultImg" />
</div>

<div class="info">
  <h5>{{ customer.fullName }}</h5>
  <p>{{ customer.address }}</p>
  <p>{{ customer.phone }}</p>
</div>

<div class="action__wrapper">
  <a class="edit" [routerLink] [queryParams]="{ selectedId: customer.id }"
    ><i class="far fa-edit"></i
  ></a>
  <a (click)="removeCustomer()"><i class="fas fa-trash-alt"></i></a>
</div>
