<nb-layout>

  <!-- <nb-layout-header fixed>
  </nb-layout-header> -->

  <nb-layout-column>

    <app-board></app-board>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
