<h2>{{ id ? "Update" : "New" }} Customer:</h2>

<form [formGroup]="profileForm" (ngSubmit)="profileForm.valid && submit()">
  <!-- Full Name Control -->
  <div class="form-group">
    <input
      type="text"
      formControlName="fullName"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          f?.fullName.errors && f?.fullName?.touched && f?.fullName.dirty
      }"
      placeholder="Full Name"
    />

    <!-- Firstname Invalid Message -->
    <div
      *ngIf="f?.fullName?.touched && f?.fullName.errors as fullNameErrors"
      class="invalid-feedback"
    >
      <div *ngIf="fullNameErrors?.required">Fullname is required</div>
    </div>
    <!-- End Firstname Invalid Message -->
  </div>
  <!-- End First Name Control -->

  <!-- Address Control -->
  <div class="form-group">
    <input
      type="text"
      formControlName="address"
      class="form-control"
      [ngClass]="{ 'is-invalid': f?.address?.errors && f?.address?.touched }"
      placeholder="Address"
    />

    <div
      *ngIf="f?.address?.touched && f?.address?.errors as addressError"
      class="invalid-feedback"
    >
      <div *ngIf="addressError?.required">Address is required</div>
    </div>
  </div>
  <!-- End address control -->

  <!-- Phone Control -->
  <div class="form-group">
    <input
      type="text"
      formControlName="phone"
      class="form-control"
      [ngClass]="{ 'is-invalid': f?.phone?.errors && f?.phone?.touched }"
      placeholder="Phone"
    />

    <div
      *ngIf="f?.phone?.touched && f?.phone?.errors as phoneError"
      class="invalid-feedback"
    >
      <div *ngIf="phoneError?.required">Phone is required</div>
      <div *ngIf="phoneError?.email">Email must be a valid email address</div>
    </div>
  </div>
  <!-- End phone control -->

  <div class="d-flex align-items-center form-group">
    <h3 class="d-inline-block">Avatar:</h3>
    <input #chooseFile type="file" (change)="handleUpload($event)" hidden />
    <button type="button" class="btn-choosefile" (click)="chooseFile.click()">
      Choose file
    </button>
  </div>

  <div *ngIf="avatarBase64" class="form-group d-flex justify-content-center">
    <img class="avatar" [src]="avatarBase64" />
  </div>

  <div class="form-group">
    <button
      [class.btn-block]="!id"
      [class.w-50]="id"
      class="btn btn-primary"
      [disabled]="profileForm.invalid"
    >
      Submit
    </button>
    <button
      *ngIf="id"
      class="btn w-50 btn-secondary"
      type="reset"
      (click)="reset()"
      [routerLink]
      [queryParams]="{ selectedId: null }"
    >
      Cancel
    </button>
  </div>
</form>
