@import "../../resources/variable";

:host {
  padding: 20px 28px;
  display: block;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  margin: 0;
  margin-right: 10px;
}

.btn-choosefile {
  padding: 0 !important;
  height: auto;
  background-color: white;
  color: $silver;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: none;
  font-size: 16px;
  width: 112px;
  height: 28px;
  border-radius: 4px;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.avatar {
  width: 80%;
  height: 100%
}