:host {
  display: block;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border: none;
  box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 1.3em;
  border: 1.2px solid transparent;
  transition: 0.3s all;

  &:focus, &:hover {
    transform: translateY(-1px);
    box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.3);;
  }
}
