<div class="form-container" id="toolbar">


  <div *ngIf="authState$ | async as authState">

    <img [src]="authState?.photoURL" />
    <div id="page" [@moveInLeft]="">
      <h2>Hey {{ authState?.displayName }}!</h2>
    </div>

    <div [@fallIn]="">
      <button nbButton status="secondary" (click)="logout()" class="basic-btn">Logout</button>
    </div>
  </div>
</div>