img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    // overflow: hidden;
}

.form-container {
    max-width: 600px;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}
.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.row {
    display: flex;
    justify-content: space-between;
    
    button {
        flex-grow: 1;

        &:first-child() {
            padding-right: .5em;
        }

        &:last-child() {
            padding-left: .5em;
        }
    }
}