<div class="form-container">
    <img src="assets/AngularFirebase.png" id="lock">

    <span class="error" *ngIf="error">{{ error }}</span>

    <div class="column">
        <button nbButton routerLink="/login-email" id="email">Email</button><br>
        <div class="row">
            <button nbButton (click)="loginFb()" id="fb">Login With Facebook</button>
            <button nbButton status="danger" (click)="loginGoogle()" id="google">Login With Google</button>
        </div>
    </div>
    <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div>