.form-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

img {
    max-width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.row {
    display: flex;
    justify-content: space-between;
    
    button {
        flex-grow: 1;

        &:first-child() {
            padding-right: .5em;
        }

        &:last-child() {
            padding-left: .5em;
        }
    }
}