:host {
  margin: auto;
  padding: 3em 2em;
  display: block;
  box-sizing: border-box;
  width: 65%;
  background-color: rgba(#fff, 0.3);
  border-radius: 0.5em;
  transition: 0.3s all;

  // transform: translate(0, -1px);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

app-header {
  margin-bottom: 1.4em;
}
