/* You can add global styles to this file, and also import other style files */

html {
  font-family: sans-serif;
}

body {
  display: block;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #040505,
    #a8eb12
  );

  min-height: 100vh;
  margin: 0;
  padding-top: 3em;
  box-sizing: border-box;
}
