:host {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  transition: 0.3s all;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #004d7a;
    width: 0px;
    transition: 0.3s all;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    &::before {
      width: 10px;
    }

    button {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  &.disabled {
    opacity: 0.7;

    &::before {
      background-color: #686868;
    }

    button {
      color: #686868
    }
  }

  p {
    margin-left: 1em;
  }

  button {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.3s all;
    font-size: 1.2em;
    cursor: pointer;
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    color: #004d7a;

    &:hover {
      color: red;
    }
  }
}
