form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1em;
    max-width: 100% !important;
}

.form-container {
    margin: auto;
    margin-top: 2em;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    margin-bottom: 1em;
}

.alc {
    text-align: center;
}