<div class="form-container">
    <a routerLink="/login" id="goback">Go back</a>
    <h3>Custom Login</h3>

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

        <input nbInput type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
        <input nbInput type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>

        <button nbButton status="warning" type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
        <a routerLink="/signup" class="alc">Don't have an account?</a>
    </form>
</div>