:host {
  display: block;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  &:hover {
    .caption {
      opacity: 1;
    }
  }
}

img {
  width: 100%;
  height: auto;
}

.caption {
  opacity: 0.6;
  background-color: rgba(#000, 0.3);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  opacity: 0;
  transition: 0.3s ease-out;
}
